<div class="container">
    <div class="options horizontal">
        <span class="options-item"> Series Type: </span>
        <!-- [(ngModel)]="chartType"  -->
        <select value={{chartType}}
            (change)="this.onAxisTypeChange($event)">
            <option>Column (CategoryXAxis)</option>
            <option>Bar (CategoryYAxis)</option>
            <option>Scatter (NumericXAxis)</option>
            <option>Financial (TimeXAxis)</option>
        </select>
    </div>
    <div class="container">
        <igx-data-chart #chart
            width="100%"
            height="calc(100% - 60px)">
        </igx-data-chart>
    </div>
</div>
