<div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">NYC Average Temperature</span>
    </div>
    <div class="container">
        <igx-category-chart height="100%" width="100%"
                [dataSource]="data"
                chartType="Column"
                xAxisInterval="1"
                yAxisTitle="Temperature in Degrees Celsius"
                yAxisTitleLeftMargin="10"
                yAxisTitleRightMargin="5"
                yAxisLabelLeftMargin="0"
                isHorizontalZoomEnabled="false"
                isVerticalZoomEnabled="false">
        </igx-category-chart>
    </div>
</div>
