<div class="container sample">
    <div class="options horizontal">
        <span class="legend-title">Life Expectancy versus Health Expenditure for European Countries</span>
    </div>
    <div class="options horizontal">
        <span class="legend-title">Continent: </span>
        <div class="legend">
            <igx-legend #legend orientation="Horizontal"></igx-legend>
        </div>
    </div>
    <div class="container">
        <igx-data-chart height="100%" width="100%" [legend]="legend" isHorizontalZoomEnabled="false"
            isVerticalZoomEnabled="false">

            <igx-numeric-x-axis #xAxis labelFormat="${0}" title="Health Expenditure"></igx-numeric-x-axis>
            <igx-numeric-y-axis #yAxis labelFormat="{0} years" title="Life Expectancy"></igx-numeric-y-axis>

            <igx-scatter-line-series [xAxis]="xAxis" [yAxis]="yAxis" [dataSource]="germanyDataSource"
                xMemberPath="HealthExpense" yMemberPath="LifeExpectancy" title="Germany" markerType="Circle">
            </igx-scatter-line-series>

            <igx-scatter-line-series [xAxis]="xAxis" [yAxis]="yAxis" [dataSource]="franceDataSource"
                xMemberPath="HealthExpense" yMemberPath="LifeExpectancy" title="France" markerType="Circle">
            </igx-scatter-line-series>

            <igx-scatter-line-series [xAxis]="xAxis" [yAxis]="yAxis" [dataSource]="luxembourgDataSource"
                xMemberPath="HealthExpense" yMemberPath="LifeExpectancy" title="Luxembourg" markerType="Circle">
            </igx-scatter-line-series>
        </igx-data-chart>
    </div>
</div>
