<div class="sample">
    <div className="options">
        <span className="optionLabel"> Indicator Display Type: </span>
        <select (change)="onOverlayChanged($event)">
            <option>None</option>
            <option>BollingerBands</option>
            <option>PriceChannel</option>
        </select>
    </div>
    <div class="chart">
        <igx-data-chart #chart width="100%" height="100%" [dataSource]="data">

            <igx-category-x-axis #xAxis label="Date"></igx-category-x-axis>
            <igx-numeric-y-axis #yAxis labelLocation="OutsideRight" title="Financial Prices"></igx-numeric-y-axis>

            <igx-financial-price-series name="series1" [xAxis]="xAxis" [yAxis]="yAxis" displayType="Candlestick"
                highMemberPath="High" lowMemberPath="Low" closeMemberPath="Close" openMemberPath="Open"
                volumeMemberPath="Volume">
            </igx-financial-price-series>
        </igx-data-chart>
    </div>
</div>