<div class="sample">
    <div class="chart">
        <igx-data-chart
            width="100%"
            height="100%"
            [dataSource]="data">

            <igx-category-x-axis #xAxis label="Date"></igx-category-x-axis>
            <igx-numeric-y-axis #yAxis1 labelLocation="OutsideRight"
                title="Financial Prices"></igx-numeric-y-axis>
            <igx-numeric-y-axis #yAxis2 labelLocation="OutsideLeft"
                title="Indicator Values" majorStrokeThickness=0 maximumValue=800 ></igx-numeric-y-axis>

            <igx-financial-price-series
                name="series1"
                [xAxis]="xAxis"
                [yAxis]="yAxis1"
                displayType="Candlestick"
                highMemberPath="High"
                lowMemberPath="Low"
                closeMemberPath="Close"
                openMemberPath="Open"
                volumeMemberPath="Volume">
            </igx-financial-price-series>
        </igx-data-chart>
    </div>
    <div class="options">
        <span class="optionLabel"> Indicator Display Type: </span>
        <select (change)=onIndicatorChanged($event)>
            <option>AbsoluteVolumeOscillator</option>
            <option>AccumulationDistribution</option>
            <option>AverageDirectionalIndex</option>
            <option>AverageTrueRange</option>
            <option>BollingerBandWidth</option>
            <option>ChaikinVolatility</option>
            <option>ChaikinOscillator</option>
            <option>CommodityChannelIndex</option>
            <option>DetrendedPriceOscillator</option>
            <option>EaseOfMovement</option>
            <option>FastStochasticOscillator</option>
            <option>ForceIndex</option>
            <option>FullStochasticOscillator</option>
            <option>MarketFacilitationIndex</option>
            <option>MassIndex</option>
            <option>MedianPrice</option>
            <option>MoneyFlowIndex</option>
            <option>MovingAverageConvergenceDivergence</option>
            <option>NegativeVolumeIndex</option>
            <option>OnBalanceVolume</option>
            <option>PercentagePriceOscillator</option>
            <option>PercentageVolumeOscillator</option>
            <option>PositiveVolumeIndex</option>
            <option>PriceVolumeTrend</option>
            <option>RateOfChangeAndMomentum</option>
            <option>RelativeStrengthIndex</option>
            <option>SlowStochasticOscillator</option>
            <option>StandardDeviation</option>
            <option>StochRSI</option>
            <option>TRIX</option>
        </select>
    </div>

    <div class="chart">
        <igx-data-chart #chart
            width="100%"
            height="100%"
            [dataSource]="data" >

            <igx-category-x-axis #xAxis2 label="Date"></igx-category-x-axis>
            <igx-numeric-y-axis #yAxis3 labelLocation="OutsideRight"
                title="Indicators"></igx-numeric-y-axis>
        </igx-data-chart>
    </div>
</div>