<div class="container">
    <div class="options vertical">
        <label class="legend-title">Global Electricity Demand by Energy Use</label>
        <igx-item-legend #legend123 height="100px" width="100px"></igx-item-legend>
    </div>

    <div class="container">
    <igx-pie-chart height="100%" width="80%" [dataSource]="data" valueMemberPath="Value"
        labelMemberPath="Summary" labelsPosition="OutsideEnd" labelExtent="30"
        othersCategoryType="Number" othersCategoryText="Others"
        [legend]="legend123"
        legendLabelMemberPath="Summary">
    </igx-pie-chart>
    </div>
</div>
