<div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">Birth Rate vs Life Expectancy: </span>
        <igx-legend #legend orientation="Horizontal"></igx-legend>
    </div>
    <div class="container">
        <igx-data-chart height="100%" width="100%" [legend]="legend" isHorizontalZoomEnabled="true"
            isVerticalZoomEnabled="true">

            <igx-numeric-x-axis #xAxis title="Death Rate (per 1,000 people)" minimumValue="5" maximumValue="16"
                interval="1"></igx-numeric-x-axis>
            <igx-numeric-y-axis #yAxis title="Birth Rate (per 1,000 people)" minimumValue="5" maximumValue="45"
                interval="5"></igx-numeric-y-axis>

            <igx-scatter-series [xAxis]="xAxis" [yAxis]="yAxis" [dataSource]="africaDataSource" xMemberPath="DeathRate"
                yMemberPath="BirthRate" markerType="Circle" title="Africa">
            </igx-scatter-series>

            <igx-scatter-series [xAxis]="xAxis" [yAxis]="yAxis" [dataSource]="europeDataSource" xMemberPath="DeathRate"
                yMemberPath="BirthRate" markerType="Circle" title="Europe">
            </igx-scatter-series>
        </igx-data-chart>
    </div>
</div>
