<div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">Renewable Electricity Generated</span>
        <igx-legend #legend orientation="horizontal"></igx-legend>
    </div>
    <div class="container">
        <igx-category-chart height="100%" width="100%"
            [dataSource]="data"
            [legend]="legend"
            chartType="line"
            outlines = "#ee5879, #c4c4c4, #9af2e4"
            brushes="#ee5879, #c4c4c4, #9af2e4"
            markerBrushes =  "white"
            markerOutlines="#ee5879, #c4c4c4, #9af2e4"
            markerTypes="Circle"
            yAxisTitle="TWh"
            yAxisTitleLeftMargin="5">
        </igx-category-chart>
    </div>
</div>
