<div class="container sample">
    <div class="options horizontal">
        <span class="options-item">Axis Annotations: </span>
        <label class="options-item"><input type="checkbox" (change)="onFinalValueChange($event)" [(ngModel)]="finalValuesVisible"/> Final Value </label>
        <label class="options-item"><input type="checkbox" (change)="onCrosshairChange($event)" [(ngModel)]="crosshairsVisible"/> Crosshairs </label>
    </div>
    <div class="container">
        <igx-data-chart #chart [dataSource]="data" width="100%" height="100%">
            <igx-category-x-axis #xAxis interval=1 label="month"></igx-category-x-axis>
            <igx-numeric-y-axis #yAxis minValue=50 maxValue=120></igx-numeric-y-axis>

            <igx-column-series [xAxis]="xAxis" [yAxis]="yAxis" valueMemberPath="temperature"></igx-column-series>

        </igx-data-chart>
    </div>
  </div>
