<igx-financial-chart height="calc(100% - 60px)" width="100%"
    [dataSource]="stocksData"
    isToolbarVisible="false"
    chartType="Candle"
    chartTitle="S&P 500"
    titleAlignment="Left"
    titleLeftMargin="25"
    titleTopMargin="10"
    titleBottomMargin="10"
    subtitle="CME - CME Delayed Price, Currency in USD"
    subtitleAlignment="Left"
    subtitleLeftMargin="25"
    subtitleTopMargin="5"
    subtitleBottomMargin="10"
    yAxisLabelLocation="OutsideLeft"
    yAxisMode="Numeric"
    yAxisTitle="Financial Prices"
    yAxisTitleLeftMargin="10"
    yAxisTitleRightMargin="5"
    yAxisLabelLeftMargin="0"
    zoomSliderType="None">
</igx-financial-chart>
