<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Renewable Electricity Generated </span>
    </div>
    <div class="container">
        <igx-category-chart height="calc(100% - 60px)" width="100%"
            [dataSource]="data"
            chartType="StepLine"
            yAxisTitle="TWh"
            isCategoryHighlightingEnabled="true"
            isSeriesHighlightingEnabled="true"
            toolTipType="Category"
            isTransitionInEnabled="true">
        </igx-category-chart>
    </div>
</div>
