<div class="container vertical">

    <div class="container">
        <igx-data-chart isHorizontalZoomEnabled="true" isVerticalZoomEnabled="true"
          subtitleTopMargin="10"
          subtitle="Airplane Seating Chart (Polylines)"
          width="100%"
          height="calc(100% - 2rem)">
            <igx-numeric-x-axis #xAxis name="xAxis" minimumValue="-800" maximumValue="800" interval="200"></igx-numeric-x-axis>
            <igx-numeric-y-axis #yAxis name="yAxis" minimumValue="-600" maximumValue="600" interval="200"></igx-numeric-y-axis>

            <igx-scatter-polyline-series name="airplaneShapeSeries" #airplaneShapeSeries
                [xAxis]="xAxis"
                [yAxis]="yAxis" shapeMemberPath="points" thickness="0.5"
                title="Airplane Shape" brush="LightGray" outline="Black">
             </igx-scatter-polyline-series>

             <igx-scatter-polyline-series name="airplaneSeatSeries" #airplaneSeatSeries
                [xAxis]="xAxis"
                [yAxis]="yAxis" shapeMemberPath="points"
                title="Airplane Seats"
                (styleShape)="onStylingShape($event)">
             </igx-scatter-polyline-series>
        </igx-data-chart>
    </div>

    <div class="option horizontal">
      <div><span style="border-color: dodgerblue; "></span><label>First Class</label></div>
      <div><span style="border-color: LimeGreen; "></span><label>Business Class</label></div>
      <div><span style="border-color: Orange; "></span><label>Premium Class</label></div>
      <div><span style="border-color: red; "></span><label>Economy Class</label></div>
      <div><span style="border-color: gray; "></span><label>Sold Seat</label> </div>
    </div>
</div>

<ng-template let-series="series" let-item="item" #seatTooltip>
  <div>
      <span>{{item.class}} Class</span>
      <br />
      <span>Seat: {{item.seat}}</span>
      <br />
      <span>Price: ${{item.price}}</span>
      <br />
      <span>Status: {{item.status}}</span>
  </div>
</ng-template>
