<div class="container sample">
    <div class="container">
        <igx-data-chart #chart
            height="100%"
            width="100%"
            [dataSource]="data"
            isHorizontalZoomEnabled=true
            isVerticalZoomEnabled=true
            subtitle="Distribution of Magnetic Field"
            subtitleTopMargin=10
            gridMode="BeforeSeries">
            <igx-numeric-x-axis #xAxis labelLocation="OutsideLeft" minimumValue=-180 maximumValue=180 title="Longitude"></igx-numeric-x-axis>
            <igx-numeric-y-axis #yAxis labelLocation="OutsideBottom" minimumValue=-90 maximumValue=90 title="Latitude"></igx-numeric-y-axis>

            <igx-scatter-contour-series name="series" [xAxis]="xAxis" [yAxis]="yAxis" xMemberPath="X" yMemberPath="Y"
                valueMemberPath="Z" thickness=2 [fillScale]="brushScale"></igx-scatter-contour-series>
        </igx-data-chart>
    </div>
</div>
