<div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">Comparing Population of Countries</span>
    </div>
    <div class="container" style="padding: 0.75rem; padding-top: 0.5rem;">
        <igx-treemap height="100%" width="100%"
                     [dataSource]="data"
                     parentIdMemberPath="Parent"
                     idMemberPath="Name"
                     labelMemberPath="Name"
                     valueMemberPath="Pop"
                     fillScaleMode="Value"
                     fillScaleMinimumValue=0
                     fillScaleMaximumValue=1500000000
                     fillBrushes="#4e62cf, #8a58d6"
                     isFillScaleLogarithmic="true"
                     rootTitle="Countries"
                     headerDisplayMode="Overlay"
                     parentNodeBottomPadding="0"
                     parentNodeLeftPadding="0"
                     parentNodeRightPadding="0"
                     parentNodeTopPadding="0"
                     outline="black"
                     strokeThickness="1">
        </igx-treemap>
    </div>
</div>
