<div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">Renewable Electricity Generated</span>
        <div class="legend">
            <igx-legend #Legend orientation="horizontal"></igx-legend>
        </div>

    </div>
    <div class="container">
        <igx-category-chart height="100%" width="100%"
            [dataSource]="data"
            chartType="Line"
            [legend]="Legend"
            isHorizontalZoomEnabled="false"
            isVerticalZoomEnabled="false"
            xAxisTitle="Year"
            xAxisTitleTextColor="Gray"
            xAxisTitleTextStyle="12pt Verdana"
            xAxisTitleAngle="0"
            yAxisTitle="Trillions of Watt-hours (Twh)"
            yAxisTitleTextColor="Gray"
            yAxisTitleTextStyle="12pt Verdana"
            yAxisTitleAngle="90"
            yAxisTitleLeftMargin="5"        >
        </igx-category-chart>
    </div>
</div>
