<div class="sample">
    <div class="chart">
        <igx-data-chart isHorizontalZoomEnabled=true isVerticalZoomEnabled=true width="100%" height="100%"
            chartTitle="GDP vs Population" [dataSource]="data1">

            <igx-numeric-x-axis #xAxis isLogarithmic=true abbreviateLargeNumbers=true title="Population">
            </igx-numeric-x-axis>
            <igx-numeric-y-axis #yAxis isLogarithmic=true abbreviateLargeNumbers=true title="Total GDP ($)">
            </igx-numeric-y-axis>

            <igx-scatter-line-series markerType="Circle" [dataSource]="data1" [xAxis]="xAxis" [yAxis]="yAxis"
                xMemberPath="population" yMemberPath="gdpTotal" showDefaultTooltip={true} title="Rich Countries">
            </igx-scatter-line-series>

            <igx-scatter-line-series markerType="Circle" [dataSource]="data2" [xAxis]="xAxis" [yAxis]="yAxis"
                xMemberPath="population" yMemberPath="gdpTotal" showDefaultTooltip=true title="Poor Countries">
            </igx-scatter-line-series>

        </igx-data-chart>
    </div>
</div>