.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  min-width: 300px; }

.chart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.options {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
  font-size: 12px; }

.optionLabel {
  margin-left: 15px;
  margin-right: 5px; }

.optionItem {
  margin-left: 10px;
  display: inline-block;
  vertical-align: center; }

input {
  width: 15px;
  height: 15px;
  margin-bottom: 6px;
  margin-left: 4px;
  vertical-align: bottom; }
