<div class="container sample">
    <div class="options vertical">
        <div class="options horizontal">
            <label style="margin-left: 0.25rem; margin-right: 1.0rem">Treemap Hovered Node's</label>
            <!-- this label displays info about currently hovered item in Treemap -->
            <label style="margin-left: 0.5rem">Parent:</label>
            <label class="options label" style="width: 3rem; font-weight: 800" [(textContent)]="HoveredNodeParent"></label>
            <label style="margin-left: 1.5rem">Name:</label>
            <label style="width: 5rem; font-weight: 800" [textContent]="HoveredNodeName"></label>
            <label style="margin-left: 1.5rem">Value:</label>
            <label style="width: 5rem; font-weight: 800" [textContent]="HoveredNodeValue"></label>
        </div>
        <div class="options horizontal">
            <label style="margin-left: 0.25rem; margin-right: 1.0rem">Treemap Selected Node's</label>
            <!-- this label displays info about currently selected item in Treemap -->
            <label style="margin-left: 0.5rem">Parent:</label>
            <label style="width: 3rem; font-weight: 800" [textContent]="SelectedNodeParent"></label>
            <label style="margin-left: 1.5rem">Name:</label>
            <label style="width: 5rem; font-weight: 800" [textContent]="SelectedNodeName"></label>
            <label style="margin-left: 1.5rem">Value:</label>
            <label style="width: 5rem; font-weight: 800" [textContent]="SelectedNodeValue"></label>
        </div>
    </div>

    <div class="options vertical">
        <span id="legendTitle">Comparing Population of Countries</span>
    </div>

    <div class="container" style="padding: 0.75rem; width: calc(100% - 1.5rem); height: calc(100% - 1.5rem)">
        <igx-treemap height="100%" width="100%"
                 [dataSource]="data"
                 rootTitle="Countries"
                 parentIdMemberPath="Parent"
                 idMemberPath="Name"
                 labelMemberPath="Name"
                 valueMemberPath="Pop"
                 (nodePointerEnter)="onNodePointerEnter($event.args)"
                 (nodePointerEnter)="onNodePointerLeave($event.args)"
                 (nodePointerEnter)="onNodePointerPressed($event.args)"
                 headerDisplayMode="Overlay"
                 fillBrushes="#299e41, #4e62cf, #5e359c"
                 isFillScaleLogarithmic="true"
                 parentNodeBottomPadding="0"
                 parentNodeLeftPadding="0"
                 parentNodeRightPadding="0"
                 parentNodeTopPadding="0">
        </igx-treemap>
    </div>
</div>
