<div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">Highest Grossing Movie Franchises</span>
        <igx-legend #legend orientation="Horizontal"></igx-legend>
    </div>

    <div class="overlay-right" >
        <div class="options horizontal" >
            <span class="options-label">Tooltip Type: </span>
            <select [(ngModel)]="toolTipType">
                <option>Default</option>
                <option>Item</option>
                <option>Category</option>
            </select>
        </div>
    </div>
    <div class="container">
        <igx-category-chart height="100%" width="100%"
            [legend]="legend"
            [dataSource]="data"
            [toolTipType]="toolTipType"
            chartType="Column"
            xAxisInterval="1"
            yAxisTitle="Billions of U.S. Dollars"
            yAxisTitleLeftMargin="10"
            yAxisTitleRightMargin="5"
            yAxisLabelLeftMargin="0"
            isHorizontalZoomEnabled="false"
            isVerticalZoomEnabled="false">
        </igx-category-chart>
    </div>
</div>
