<div class="container vertical">

    <div class="container horizontal">
        <div class="vertical">
            <span class="options-label">Refresh Interval: {{ refreshIntervalText }} </span>
            <igx-slider class="slider"
            [minValue]="5"
            [maxValue]="1000"
            [value]="refreshInterval"
            [continuous]=true
            (onValueChange)="onRefreshFrequencyChanged($event.value)"></igx-slider>
        </div>
        <div class="vertical">
            <span class="options-label">Data Points: {{ maxPointsText }}</span>
            <igx-slider class="slider"
            [minValue]="250"
            [maxValue]="100000"
            [value]="maxPoints"
            [continuous]=true
            (onValueChange)="onMaxPointsChanged($event.value)"></igx-slider>
        </div>
        <button igxButton="raised"
        igxRipple="white"
        (click)="onChangeAmountClicked()"
        >Assign Data</button>

        <div class="vertical">
            <span class="options-label">FPS: </span>
            <span #fpsSpan class="options-label"> 60</span>
        </div>
        <div class="horizontal">
            <span class="options-label">Optimize Scaling: </span>
            <input class="options-checkbox" type="checkbox" (change)="onOptimizeScalingChanged($event.target.checked)"/>
        </div>
    </div>

    <div class="container">
        <igx-financial-chart height="calc(100% - 60px)" width="100%"
            [dataSource]="data"
            [pixelScalingRatio]="scalingRatio"
            chartType="candle"
            zoomSliderType="candle"
            volumeType="none"
            isToolbarVisible=false
            #chart>
        </igx-financial-chart>
      <!-- yAxisLabelExtent="40" -->
    </div>
</div>
