<div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">Global Electricity Demand by Energy Use</span>
        <igx-item-legend #legend height="100px" orientation="horizontal"></igx-item-legend>
    </div>
    <div class="container">
        <igx-doughnut-chart #chart height="100%" width="100%"
        (sliceClick)="chartSliceClickEvent($event)">
            <igx-ring-series
                [dataSource]="data"
                [legend]="legend"
                legendLabelMemberPath="Label"
                valueMemberPath="Value"
                labelMemberPath="Summary"
                allowSliceSelection="false"
                labelsPosition="OutsideEnd"
                labelExtent="30"
                radiusFactor="0.7"
                startAngle=260>
            </igx-ring-series>
        </igx-doughnut-chart>
    </div>
</div>
