<div class="container sample">
    <div class="options horizontal">
        <label >yAxis Mode: </label>
        <select [(ngModel)]="yAxisMode">
            <option>Numeric</option>
            <option>PercentChange</option>
        </select>
        <label>  xAxis Mode: </label>
        <select [(ngModel)]="xAxisMode">
            <option>Ordinal</option>
            <option>Time</option>
        </select>
    </div>
    <div class="container">
        <igx-financial-chart height="100%" width="100%"
            [dataSource]="data"
            [yAxisMode]="yAxisMode"
            [xAxisMode]="xAxisMode"
            yAxisInterval="200"
            yAxisMinorInterval="50"
            yAxisMajorStroke="Black"
            yAxisMinorStroke="Gray"
            yAxisMinorStrokeThickness="0.5"
            yAxisMajorStrokeThickness="0.5"

            xAxisTickLength="10"
            xAxisTickStrokeThickness="1"
            xAxisTickStroke="Gray"

            xAxisLabelTextStyle="8pt Verdana"
            xAxisLabelTextColor="Gray"
            xAxisLabelTopMargin="5"
            xAxisLabelAngle="0"
            yAxisLabelTextStyle="8pt Verdana"
            yAxisLabelTextColor="Gray"
            yAxisLabelLeftMargin="5"
            yAxisLabelAngle="0"

            yAxisTitle="Stock Prices ($)"
            yAxisTitleTextStyle="15pt Times New Roman|Georgia|Serif"
            yAxisTitleRightMargin="10"
            yAxisTitleTextColor="Black"
            yAxisTitleAngle="90"
            zoomSliderType="none"
            chartType="line">
        </igx-financial-chart>
    </div>
</div>
