<div class="container sample">
    <div class="options horizontal">
        <button (click)="onGenerateDataClicked()">Generate Data</button>
        <button (click)="onAssignDataClicked()">AssignData</button>

        <label class="options-label">Data amount: {{ maxPointsText }}</label>
        <input class="options-slider" type="range" id="slider" min="5000" max="2000000" step="1000" [value]="maxPoints"
            (input)="onMaxPointsChanged($event)"/>
    </div>
    <div class="container">
        <igx-category-chart height="100%" yAxisLabelExtent="40" #chart>
        </igx-category-chart>
    </div>
</div>
