.grid__wrapper {
  margin: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column; }

.control-panel {
  margin-bottom: 24px; }
  .control-panel__switches {
    margin-top: 16px; }
    .control-panel__switches > * {
      margin-left: 32px; }
      .control-panel__switches > *:first-of-type {
        margin-left: 0; }

.athlete-name {
  margin-left: 8px; }

.country-name {
  margin-left: 8px; }
