<div class="container vertical">
    <div class="options vertical">
        <label class="legend-title">Renewable Electricity Generated</label>
        <igx-legend #legend orientation="horizontal"></igx-legend>
    </div>
    <div class="container">
        <igx-category-chart height="100%" width="100%"
            [dataSource]="data"
            chartType="area"
            [legend]="legend"
            yAxisTitle="TWh"
            yAxisTitleLeftMargin="5">
        </igx-category-chart>
    </div>
</div>
