<div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">Renewable Electricity Generated </span>
    </div>
    <div class="container">
        <igx-category-chart height="100%" width="100%"
            [dataSource]="data"
            chartType="StepArea"
            yYAxisTitle="TWh"
            isCategoryHighlightingEnabled="true"
            isSeriesHighlightingEnabled="true"
            toolTipType="Category"
            isTransitionInEnabled="true">
        </igx-category-chart>
    </div>
</div>
