<div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">Annual Working Hours vs. GDP per capita, 2015: </span>
        <igx-legend #legend orientation="Horizontal"></igx-legend>
    </div>
    <div class="container">
        <igx-data-chart height="100%" width="100%" [legend]="legend" isHorizontalZoomEnabled="true"
            isVerticalZoomEnabled="true">

            <igx-numeric-x-axis #xAxis title="GDP Per Capita" minimumValue="0" maximumValue="65000" interval="10000" abbreviateLargeNumbers="true" ></igx-numeric-x-axis>
            <igx-numeric-y-axis #yAxis title="Average Hours Worked" abbreviateLargeNumbers="true" minimumValue="1400.00" maximumValue="2400.00" interval="200" ></igx-numeric-y-axis>

            <igx-bubble-series #series1  [xAxis]="xAxis"
                [yAxis]="yAxis"
                [dataSource]="africaDataSource"
                title="Africa"
                xMemberPath="GDPPerCapita"
                yMemberPath="AverageHoursWorked"
                markerType="Circle"
                markerOutline="rgb(186,231,114)"
                markerOutline="rgb(186,231,114)"
                markerBrush="rgba(186,231,114, 0.5)"
                radiusMemberPath="TotalPopulation"
                showDefaultTooltip="true">
            </igx-bubble-series>

            <igx-bubble-series #series2 [xAxis]="xAxis"
                [yAxis]="yAxis"
                [dataSource]="europeDataSource"
                title="Europe"
                xMemberPath="GDPPerCapita"
                yMemberPath="AverageHoursWorked"
                markerType="Circle"
                markerOutline="rgb(248,174,95)"
                markerBrush="rgba(248,174,95, 0.5)"
                brush="rgb(248,174,95)"
                radiusMemberPath="TotalPopulation"
                showDefaultTooltip="true">
            </igx-bubble-series>

            <igx-bubble-series #series3 [xAxis]="xAxis"
                [yAxis]="yAxis"
                [dataSource]="asiaDataSource"
                title="Asia"
                xMemberPath="GDPPerCapita"
                yMemberPath="AverageHoursWorked"
                markerType="Circle"
                markerOutline="rgb(197, 173, 216)"
                markerBrush="rgba(197, 173, 216, 0.5)"
                brush="rgb(197, 173, 216)"
                radiusMemberPath="TotalPopulation"
                showDefaultTooltip="true">
            </igx-bubble-series>

            <igx-bubble-series #series4 [xAxis]="xAxis"
                [yAxis]="yAxis"
                [dataSource]="northAmericaDataSource"
                title="North America"
                xMemberPath="GDPPerCapita"
                yMemberPath="AverageHoursWorked"
                markerType="Circle"
                markerOutline="rgb(224, 81, 169)"
                markerBrush="rgba(224, 81, 169, 0.5)"
                brush="rgb(224, 81, 169)"
                radiusMemberPath="TotalPopulation"
                showDefaultTooltip="true">
            </igx-bubble-series>

            <igx-bubble-series #series5 [xAxis]="xAxis"
                [yAxis]="yAxis"
                [dataSource]="oceaniaDataSource"
                title="Oceania"
                xMemberPath="GDPPerCapita"
                yMemberPath="AverageHoursWorked"
                markerType="Circle"
                markerOutline="rgb(109, 177, 255)"
                markerBrush="rgba(109, 177, 255, 0.5)"
                brush="rgb(109, 177, 255)"
                radiusMemberPath="TotalPopulation"
                showDefaultTooltip="true">
            </igx-bubble-series>

            <igx-bubble-series #series6 [xAxis]="xAxis"
                [yAxis]="yAxis"
                [dataSource]="southAmericaDataSource"
                title="South America"
                xMemberPath="GDPPerCapita"
                yMemberPath="AverageHoursWorked"
                markerType="Circle"
                markerOutline="rgb(115, 86, 86)"
                markerBrush="rgba(115, 86, 86, 0.5)"
                brush="rgb(115, 86, 86)"
                radiusMemberPath="TotalPopulation"
                showDefaultTooltip="true">
            </igx-bubble-series>
        </igx-data-chart>
    </div>
</div>
