<div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">Global Electricity Demand by Energy Use</span>
        <igx-item-legend #legend></igx-item-legend>
    </div>
<div class="container">
    <igx-pie-chart #chart
        height="100%"
        width="100%"
        [dataSource]="data"
        [legend]="legend"
        labelMemberPath="Company"
        legendLabelMemberPath="Summary"
        valueMemberPath="MarketShare"
        (sliceClick)="pieSliceClickEvent($event)"
        labelsPosition="OutsideEnd"
        labelExtent="30">
    </igx-pie-chart>
</div>
