<div class="container sample">
<div class="options horizontal">
        <span class="options-label">Type of Category Series:</span>
        <select
        (change)=onSeriesTypeChanged($event)>
                <option>Column</option>
                <option>Area</option>
                <option>Point</option>
                <option>Line</option>
                <option>Spline</option>
                <option>SplineArea</option>
                <option>StepArea</option>
                <option>StepLine</option>
                <option>Waterfall</option>
        </select>
        <label id="legendTitle">Legend: </label>
        <igx-legend #legend orientation="horizontal"></igx-legend>
</div>

<div class="container">
        <igx-data-chart #chart
        isHorizontalZoomEnabled="true"
        isVerticalZoomEnabled="true"
        width="100%"
        height="100%"
        [dataSource]="data" >
        <igx-numeric-y-axis title="Total Olympic Medals"
          #yAxis>
        </igx-numeric-y-axis>
        <igx-category-x-axis
          label="Year" title="Olympic Years"
          #xAxis>
        </igx-category-x-axis>

         <!-- series are created in the setSeries function
                        alternatively, you can create series using this code: -->

        <!-- <igx-column-series

          valueMemberPath="USA"
          [xAxis]="xAxis"
          [yAxis]="yAxis">
        </igx-column-series>

         <igx-column-series
          valueMemberPath="RUS"
          [xAxis]="xAxis"
          [yAxis]="yAxis">
        </igx-column-series> -->
      </igx-data-chart>
</div>
</div>
