<div class="container vertical">

        <igx-category-chart height="calc(100% - 60px)" width="100%"
            [dataSource]="data"
            chartType="area"
            chartTitle="Renewable Electricity Generated"
            titleAlignment="left"
            titleLeftMargin="25"
            titleTopMargin="10"
            titleBottomMargin="10"
            yAxisTitle="TWh"
            yAxisTitleLeftMargin="10"
            yAxisTitleRightMargin="5"
            yAxisLabelLeftMargin="0">
        </igx-category-chart>

</div>
