<div class="container vertical">

    <div class="options horizontal">
        <div class="vertical">
            <span class="options-label">Refresh Interval: {{ refreshIntervalText }} </span>
            <igx-slider class="slider"
            [minValue]="5"
            [maxValue]="1000"
            [(ngModel)]="refreshInterval"
            [continuous]=true
            (onValueChange)="onRefreshFrequencyChanged($event.value)"></igx-slider>
        </div>
        <div class="vertical">
            <span class="options-label">Data Points: {{ maxPointsText }}</span>
            <igx-slider class="slider"
            [minValue]="1000"
            [maxValue]="1000000"
            [(ngModel)]="maxPoints"
            [continuous]=true
            (onValueChange)="onMaxPointsChanged($event.value)"></igx-slider>
        </div>
        <button igxButton="raised"
        igxRipple="white"
        (click)="onChangeAmountClicked()"
        >Assign Data</button>

        <div class="vertical">
            <span class="options-label">FPS: </span>
            <span #fpsSpan class="options-label"> 60</span>
        </div>
        <div class="horizontal">
            <span class="options-label">Optimize Scaling: </span>
            <input class="options-checkbox" type="checkbox" (change)="onOptimizeScalingChanged($event.target.checked)"/>
        </div>
    </div>

    <div class="container">
        <igx-category-chart height="calc(100% - 60px)"
            [dataSource]="data"
            [pixelScalingRatio]="scalingRatio"
            yAxisLabelExtent="40"
            #chart>
        </igx-category-chart>
    </div>
</div>
