[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

.sample__grid-item-content > igx-icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem; }

.sample__body-empty, .sample__grid-item-content, .sample__grid-item, .sample__grid-item-clipboard {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: center;
      justify-content: center; }

.sample {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  overflow: hidden;
  height: 43.75rem;
  margin: 0 auto;
  padding: 1rem; }
  .sample__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 3.125rem; }
  .sample__header-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .sample__header-search {
    max-width: 13.75rem;
    width: 100%;
    margin-left: 0.5rem; }
  .sample__body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100% - 4.625rem);
    width: 100%;
    padding: 0 0 1rem 0;
    box-shadow: 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.26), 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.12); }
    .sample__body-inner + .sample__body-empty {
      display: none; }
  .sample__body-empty {
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    padding: 1.5rem 1.5rem 0 1.5rem; }
    .sample__body-empty strong {
      text-transform: capitalize; }
    .sample__body-empty button {
      -ms-flex-item-align: center;
          align-self: center;
      margin-top: 0.5rem; }
      .sample__body-empty button igx-icon {
        margin-right: 0.25rem; }
  .sample__body-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    padding: 0 1.5rem 1.5rem 1.5rem; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .sample__body-section {
        min-height: 100%; } }
  .sample__body-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    border-bottom: 0.0625rem solid #ddd;
    margin: 1rem 1rem 1.5rem 1rem;
    min-height: 2.3125rem;
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 1.5rem; }
  .sample__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr));
    grid-auto-rows: 7.5rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .sample__grid {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: start;
            justify-content: flex-start;
        margin: 0 -0.5rem;
        min-height: 100%; } }
  .sample__grid-item-content {
    -ms-flex-direction: column;
        flex-direction: column; }
    .sample__grid-item-content > igx-icon {
      -ms-flex-item-align: center;
          align-self: center;
      margin-bottom: 0.25rem; }
  .sample__grid-item {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0.5rem;
    position: relative;
    border: 0.125rem solid transparent; }
    .sample__grid-item:hover, .sample__grid-item:focus {
      border-color: #e41c77;
      outline-color: transparent;
      outline-width: 0; }
      .sample__grid-item:hover .sample__grid-item-download,
      .sample__grid-item:hover .sample__grid-item-clipboard, .sample__grid-item:focus .sample__grid-item-download,
      .sample__grid-item:focus .sample__grid-item-clipboard {
        opacity: 1;
        pointer-events: auto; }
      .sample__grid-item:hover .sample__grid-item-download, .sample__grid-item:focus .sample__grid-item-download {
        opacity: 1;
        pointer-events: auto; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .sample__grid-item {
        -ms-flex: 1;
            flex: 1;
        min-width: 7.5rem;
        min-height: 7.5rem;
        margin: 0 0.25rem 0.5rem 0.25rem; } }
  .sample__grid-item-download {
    pointer-events: none;
    display: -ms-flexbox;
    display: flex;
    width: 6.25rem;
    max-width: 90%;
    max-height: 2.25rem;
    position: absolute;
    bottom: -1.125rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    text-decoration: none; }
    .sample__grid-item-download igx-icon {
      margin-right: 0.25rem; }
    .sample__grid-item-download:hover, .sample__grid-item-download:focus {
      pointer-events: auto;
      visibility: visible;
      opacity: 1; }
  .sample__grid-item-clipboard {
    border-radius: 50%;
    background: #fff;
    box-shadow: none;
    border: none;
    padding: 0.25rem;
    cursor: pointer;
    pointer-events: none;
    max-width: 2rem;
    max-height: 2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    opacity: 0;
    transition: all 250ms ease-in-out; }
    .sample__grid-item-clipboard igx-icon {
      width: 1rem;
      height: 1rem;
      font-size: 1rem; }
    .sample__grid-item-clipboard:focus {
      outline-color: transparent;
      outline-width: 0; }
    .sample__grid-item-clipboard:hover, .sample__grid-item-clipboard:focus {
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
      color: #e41c77; }
  .sample__grid-item-clipboard--success {
    background: #4eb862;
    color: black !important; }
  .sample__grid-icon-name {
    display: block;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
