<div class="container">   
    <div class="legend">
        <span>Global Electricity Demand by Energy Use</span>
        <igx-item-legend #legend height="100px" width="100px">
        </igx-item-legend>
    </div>
    
    <div class="chart">
        <igx-doughnut-chart #chart height="100%" width="80%" (sliceClick)="chartSliceClickEvent($event)">
            <igx-ring-series
            [dataSource]="data"
            valueMemberPath="Value"
            labelMemberPath="Summary"
            legendMemberPath="Label"
            [legend]="legend"
            selectedSliceStroke = "white"
            selectedSliceFill= "rgb(143,143,143)"
            selectedSliceOpacity =1.0
            selectedSliceStrokeThickness=2 
            labelsPosition="OutsideEnd" 
            labelExtent="30"
            radiusFactor="0.7" >
            </igx-ring-series>
        </igx-doughnut-chart>
    </div>
</div>

