<div class="container">
    <div class="options vertical">
        <label class="legend-title">Global Electricity Demand by Energy Use</label>
        <igx-item-legend #legend height="100px" width="100px"></igx-item-legend>
    </div>

    <div class="container">
        <igx-doughnut-chart #chart height="100%" width="80%">
            <igx-ring-series
            [dataSource]="data"
            valueMemberPath="Value"
            labelMemberPath="Label"
            legendMemberPath="Label"
            [legend]="legend"
            selectedSliceStroke = "white"
            selectedSliceFill= "rgb(143,143,143)"
            selectedSliceOpacity =1.0
            selectedSliceStrokeThickness=2
            labelsPosition="OutsideEnd"
            labelExtent="30"
            radiusFactor="0.7" >
            </igx-ring-series>
        </igx-doughnut-chart>
    </div>
</div>

