[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-order: 3;
      order: 3; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

.sample-content {
  margin: 10% auto 0; }

.sample-column {
  min-width: 270px; }

.btn-group {
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  margin-top: 16px;
  -ms-flex-pack: justify;
      justify-content: space-between; }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
  --igx-toast-border-radius: 12px;
  --igx-toast-elevation: 0;
  --igx-toast-variant: material;
  --igx-toast-background: #dedede;
  --igx-toast-text-color: #151515;
  --igx-toast-shadow: none; }

:host ::ng-deep .igx-toast {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 2.625rem auto;
  padding: 1rem 1.5rem;
  min-width: 52px;
  color: var(--igx-toast-text-color);
  background: var(--igx-toast-background);
  border: none;
  border-radius: var(--igx-toast-border-radius);
  box-shadow: none;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); }
