:host {
  display: block;
  padding: 16px; }

.sample-content {
  max-width: 880px; }

.search {
  margin-bottom: 16px;
  width: 100%; }

.list-sample {
  display: block;
  position: relative;
  height: 150px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }

.list-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 16px 8px 0; }

.item-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  min-width: 220px;
  -ms-flex: 0 0 220px;
      flex: 0 0 220px; }

.contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 220px;
      flex: 1 0 220px;
  -ms-flex-align: center;
      align-items: center; }
  .contact__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    margin-left: 16px; }

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 80px; }
