<div class="container sample">
    <div class="options vertical">
        <span id="legendTitle">NYC Average Temperature</span>
        <div class="overlay-right" >
            <div class="options horizontal" >
                <label class="options-label" >X-Axis Gap</label>
                <label class="options-value" >{{xAxisGapValue}}</label>
                <input class="options-slider" type="range" min="0" max="1" step="0.05" value="1" (input)="OnXAxisGapSliderChange($event)"/>
            </div>
        </div>
    </div>

    <div class="container">
        <igx-category-chart height="100%" width="100%"
                       [dataSource]="data"
                       chartType="Column"
                       yAxisTitle="Temperature In Celsius"
                       isHorizontalZoomEnabled="false"
                       isVerticalZoomEnabled="false"
                       xAxisInterval="1"
                       [xAxisGap]="xAxisGapValue">
        </igx-category-chart>
    </div>
</div>
