<div class="container vertical">
    <div class="options vertical">
        <div class="options horizontal">
            <label class="options-label">Chart Type: </label>
            <select class="options-select" [(ngModel)]="options.chartType">
                <option>Auto</option>
                <option>Bar</option>
                <option>Candle</option>
                <option>Column</option>
                <option>Line</option>
            </select>

            <label class="options-item"><input [(ngModel)]="options.calloutsVisible" type="checkbox" />Show Callouts</label>
            <label class="options-item"><input [(ngModel)]="options.finalValueAnnotations" type="checkbox" />Final Value Annotations</label>
            <label class="options-item">Item Tooltip</label>
            <select class="options-select" [(ngModel)]="options.itemToolTip">
                <option>None</option>
                <option>Category</option>
                <option>Item</option>
            </select>
        </div>
        <div class="options horizontal">
            <label class="options-label">Crosshairs: </label>
            <select class="options-select" [(ngModel)]="options.crosshairDisplay">
                <option>Default</option>
                <option>None</option>
                <option>Horizontal</option>
                <option>Vertical</option>
                <option>Both</option>
            </select>

            <label class="options-item"><input [(ngModel)]="options.crosshairSnap" type="checkbox" />Snap to Data</label>
            <label class="options-item"><input [(ngModel)]="options.crosshairAnnotations" type="checkbox" />Crosshairs Annotations</label>
            <label class="options-item">Item Tooltip</label>
            <select class="options-select" [(ngModel)]="options.markerTypes">
                <option>Automatic</option>
                <option>Circle</option>
                <option>Triangle</option>
                <option>Pyramid</option>
                <option>Square</option>
                <option>Diamond</option>
                <option>Pentagon</option>
                <option>Hexagon</option>
                <option>Tetragram</option>
                <option>Pentagram</option>
                <option>Hexagram</option>
                <option>None</option>
            </select>
        </div>
    </div>

    <div class="container">
        <igx-financial-chart height="calc(100% - 60px)" width="100%"
            [dataSource]="stocksData"
            [chartType]="options.chartType"
            zoomSliderType="none"

            brushes="#8c42f4, #1aba2a, #6b6b6b"
            outlines="#8c42f4, #1aba2a, #6b6b6b"
            negativeBrushes="#e23a31"
            negativeOutlines="#e23a31"

            [crosshairsDisplayMode]="options.crosshairDisplay"
            [crosshairsSnapToData]="options.crosshairSnap"
            [crosshairsAnnotationEnabled]="options.crosshairAnnotations"

            [finalValueAnnotationsVisible]="options.finalValueAnnotations"
            [markerTypes]="options.markerTypes"
            isMarkersVisible = "true"
            [calloutsVisible]="options.calloutsVisible"
            [calloutsDataSource]="calloutsData"
            calloutsXMemberPath="index"
            calloutsYMemberPath="value"
            calloutsLabelMemberPath="options-label"
            [toolTipType]="options.itemToolTip"
            xAxisExtent="50"
            thickness="1">
        </igx-financial-chart>

    </div>
</div>
