igx-select {
  width: 230px;
  padding-top: 70px;
  padding-left: 40px; }

igx-select-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }

:host ::ng-deep .select__entry span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  padding-right: 12px; }
